[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
tensorflow-probability = "*"
diffxpy = "*"
matplotlib = "*"
seaborn = "*"
tensorflow-gpu = "*"

[dev-packages]
pylint = "*"
ipykernel = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
